[Unit]
Description=SSH Login iNotify Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/login-inotifyd
PIDFile=/var/run/login-inotifyd.pid
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
